#s-57483f01-aea4-495e-b69e-73bd00aeaa78 > #backgroundBox {
  position: absolute;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 > #alignmentBox {
  position: relative;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_2 {
  position: absolute;
  width: 608.0000000000005px;
  min-height: 150.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_2 {
  position: absolute;
  width: 2.0px;
  height: 667.2408447265625px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_3 {
  position: absolute;
  width: 2.0px;
  height: 667.2408447265625px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 {
  position: absolute;
  width: 569.1841902568782px;
  min-height: 187.87045454545458px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_7 {
  position: absolute;
  width: 116.59400484377056px;
  min-height: 68.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_8 {
  position: absolute;
  width: 211.2361863883159px;
  min-height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_4 {
  position: absolute;
  width: 570.69189453125px;
  height: 2.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_5 {
  position: absolute;
  width: 35.79698181152344px;
  height: 26.894298553466797px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_6 {
  position: absolute;
  width: 2.6196441650390625px;
  height: 2.32952880859375px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_7 {
  position: absolute;
  width: 7.426841735839844px;
  height: 13.715438842773438px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_9 {
  position: absolute;
  width: 212.2528050184618px;
  min-height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_10 {
  position: absolute;
  width: 305.3191011235954px;
  min-height: 68.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_10 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_1 {
  position: absolute;
  width: 35.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 {
  position: absolute;
  width: 569.1841902568782px;
  min-height: 187.87045454545458px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_3 {
  position: absolute;
  width: 116.59400484377056px;
  min-height: 68.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_4 {
  position: absolute;
  width: 211.2361863883159px;
  min-height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_8 {
  position: absolute;
  width: 570.69189453125px;
  height: 2.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_9 {
  position: absolute;
  width: 35.79698181152344px;
  height: 26.894298553466797px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_10 {
  position: absolute;
  width: 2.6196441650390625px;
  height: 2.32952880859375px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_11 {
  position: absolute;
  width: 7.426841735839844px;
  height: 13.715438842773438px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_5 {
  position: absolute;
  width: 212.2528050184618px;
  min-height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_6 {
  position: absolute;
  width: 305.3191011235954px;
  min-height: 68.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_2 {
  position: absolute;
  width: 35.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_18 {
  position: absolute;
  width: 608.0000000000005px;
  min-height: 150.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_18 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 {
  position: absolute;
  width: 569.1841902568782px;
  min-height: 187.87045454545458px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_11 {
  position: absolute;
  width: 116.59400484377068px;
  min-height: 32.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_12 {
  position: absolute;
  width: 570.69189453125px;
  height: 2.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_13 {
  position: absolute;
  width: 35.79698181152344px;
  height: 26.894298553466797px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_14 {
  position: absolute;
  width: 2.6196441650390625px;
  height: 2.32952880859375px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_15 {
  position: absolute;
  width: 7.426841735839844px;
  height: 13.715438842773438px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_13 {
  position: absolute;
  width: 212.25280501846203px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_14 {
  position: absolute;
  width: 305.31910112359526px;
  min-height: 33.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_15 {
  position: absolute;
  width: 116.59400484377068px;
  min-height: 32.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_15 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_3 {
  position: absolute;
  width: 35.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_12 {
  position: absolute;
  width: 147.656005859375px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_12 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_16 {
  position: absolute;
  width: 116.59400484377068px;
  min-height: 32.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_16 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_17 {
  position: absolute;
  width: 201.656005859375px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_17 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 input::-webkit-input-placeholder {
  color: #999999;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 input::-moz-placeholder {
  color: #999999;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 input:-moz-placeholder {
  color: #999999;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 input:-ms-input-placeholder {
  color: #999999;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 {
  position: absolute;
  width: 523.1563361940553px;
  height: 102.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 input {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Input_5 .paddingLayer {
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_19 {
  position: absolute;
  width: 608.0000000000005px;
  min-height: 150.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_19 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_20 {
  position: absolute;
  width: 608.0000000000005px;
  min-height: 150.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_20 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 {
  position: absolute;
  width: 234.15633619405617px;
  min-height: 55.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 27.500000000000114px;
  border-top-right-radius: 27.500000000000114px;
  border-bottom-right-radius: 27.500000000000114px;
  border-bottom-left-radius: 27.500000000000114px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FF6D77;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FF404D;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FF404D;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FF404D;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FF404D;
  border-top-left-radius: 27.500000000000114px;
  border-top-right-radius: 27.500000000000114px;
  border-bottom-right-radius: 27.500000000000114px;
  border-bottom-left-radius: 27.500000000000114px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 27.500000000000114px;
  border-top-right-radius: 27.500000000000114px;
  border-bottom-right-radius: 27.500000000000114px;
  border-bottom-left-radius: 27.500000000000114px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 73.65738761775151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F95F6A;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_1 {
  position: absolute;
  width: 46.0px;
  height: 46.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 {
  position: absolute;
  width: 153.0px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 {
  position: absolute;
  width: 79.00000000000045px;
  min-height: 74.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_5 {
  position: absolute;
  width: 81.07812499999967px;
  min-height: 54.13922012466503px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}