#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 > #backgroundBox {
  position: absolute;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 > #alignmentBox {
  position: relative;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_2 {
  position: absolute;
  width: 539.9999999999999px;
  min-height: 788.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 input::-webkit-input-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 input::-moz-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 input:-moz-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 input:-ms-input-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 {
  position: absolute;
  width: 328.15633619405514px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 input {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_1 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_3 {
  position: absolute;
  width: 107.84052772021155px;
  min-height: 18.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Path_1 {
  position: absolute;
  width: 120.41531372070312px;
  height: 2.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Path_2 {
  position: absolute;
  width: 120.55349731445312px;
  height: 2.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_1 {
  position: absolute;
  width: 139.5px;
  min-height: 19.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_2 {
  position: absolute;
  width: 296.5px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_2 span {
  color: #31333C;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 input::-webkit-input-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 input::-moz-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 input:-moz-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 input:-ms-input-placeholder {
  color: #999999;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 {
  position: absolute;
  width: 328.15633581647114px;
  height: 54.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 input {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Input_2 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_4 {
  position: absolute;
  width: 69.87687697450497px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Path_10 {
  position: absolute;
  width: 19.700927734375px;
  height: 13.2916259765625px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 {
  position: absolute;
  width: 327.57209547969785px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FF6D77;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Path_7 {
  position: absolute;
  width: 46.0px;
  height: 46.0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_5 {
  position: absolute;
  width: 253.15631103515602px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: right;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_5 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #1877F2;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 73.65738761775151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_3 {
  position: absolute;
  width: 81.07812499999967px;
  min-height: 54.13922012466503px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a1a78579-69b7-404d-b367-ae4ffb8d1db8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}