#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e > #backgroundBox {
  position: absolute;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e > #alignmentBox {
  position: relative;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 73.65738761775151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F95F6A;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_1 {
  position: absolute;
  width: 46.0px;
  height: 46.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 {
  position: absolute;
  width: 153.0px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 {
  position: absolute;
  width: 79.00000000000045px;
  min-height: 74.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_4 {
  position: absolute;
  width: 81.07812499999967px;
  min-height: 54.13922012466503px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 {
  position: absolute;
  width: 983.9999999999997px;
  min-height: 194.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_2 {
  position: absolute;
  width: 985.078125px;
  height: 2.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_2 {
  position: absolute;
  width: 320.0000000000002px;
  min-height: 26.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_3 {
  position: absolute;
  width: 292.99999999999983px;
  min-height: 54.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Image_2 {
  position: absolute;
  width: 64.99999999999937px;
  height: 50.47656249999949px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_4 {
  position: absolute;
  width: 62.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_3 {
  position: absolute;
  width: 2.0px;
  height: 118.9140625px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_5 {
  position: absolute;
  width: 172.9999999999999px;
  min-height: 23.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_4 {
  position: absolute;
  width: 2.0px;
  height: 118.9140625px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_6 {
  position: absolute;
  width: 245.9999999999999px;
  min-height: 53.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_7 {
  position: absolute;
  width: 172.9999999999999px;
  min-height: 23.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_5 {
  position: absolute;
  width: 46.98651123046875px;
  height: 40.63747024536133px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_6 {
  position: absolute;
  width: 9.047578811645508px;
  height: 18.90427017211914px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_7 {
  position: absolute;
  width: 6.693316459655762px;
  height: 2.6625242233276367px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_8 {
  position: absolute;
  width: 6.676790237426758px;
  height: 2.6625242233276367px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_9 {
  position: absolute;
  width: 6.693316459655762px;
  height: 2.662525177001953px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_10 {
  position: absolute;
  width: 6.676789283752441px;
  height: 2.662525177001953px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_11 {
  position: absolute;
  width: 6.693316459655762px;
  height: 2.6625242233276367px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_12 {
  position: absolute;
  width: 6.676789283752441px;
  height: 2.6625242233276367px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_13 {
  position: absolute;
  width: 16.758081436157227px;
  height: 2.682614326477051px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_8 {
  position: absolute;
  width: 106.49999999999955px;
  min-height: 21.449116471043396px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_9 {
  position: absolute;
  width: 131.49999999999955px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_10 {
  position: absolute;
  width: 245.9999999999999px;
  min-height: 53.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Ellipse_1 {
  width: 36.0px;
  height: 36.0px;
  min-height: 36.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FF6C6C;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_14 {
  position: absolute;
  width: 36.0px;
  height: 35.850372314453125px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_15 {
  position: absolute;
  width: 9.984295845031738px;
  height: 17.420589447021484px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_11 {
  position: absolute;
  width: 86.99999999999977px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_12 {
  position: absolute;
  width: 214.00000000000023px;
  min-height: 26.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 {
  position: absolute;
  width: 984.0px;
  min-height: 474.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_13 {
  position: absolute;
  width: 354.0000000000007px;
  min-height: 35.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_1 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_14 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_15 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_16 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_2 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_3 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_17 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_18 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_19 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_4 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_5 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_6 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_7 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_8 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_9 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Input_10 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 {
  position: absolute;
  width: 983.9999999999995px;
  min-height: 402.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_20 {
  position: absolute;
  width: 354.0000000000007px;
  min-height: 35.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_20 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_21 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_22 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_23 {
  position: absolute;
  width: 148.49999999999977px;
  min-height: 81.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_24 {
  position: absolute;
  width: 294.49999999999955px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_25 {
  position: absolute;
  width: 294.49999999999955px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_25 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_20 {
  position: absolute;
  width: 25.99925994873047px;
  height: 25.993207931518555px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_21 {
  position: absolute;
  width: 8.232726097106934px;
  height: 8.229347229003906px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_22 {
  position: absolute;
  width: 9.199459075927734px;
  height: 9.199459075927734px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_23 {
  position: absolute;
  width: 17.991073608398438px;
  height: 2.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_24 {
  position: absolute;
  width: 25.99925994873047px;
  height: 25.993207931518555px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_25 {
  position: absolute;
  width: 8.232726097106934px;
  height: 8.229347229003906px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_26 {
  position: absolute;
  width: 9.199459075927734px;
  height: 9.199459075927734px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_27 {
  position: absolute;
  width: 17.991073608398438px;
  height: 2.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_16 {
  position: absolute;
  width: 25.99925994873047px;
  height: 25.993207931518555px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_17 {
  position: absolute;
  width: 8.232726097106934px;
  height: 8.229347229003906px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_18 {
  position: absolute;
  width: 9.199459075927734px;
  height: 9.199459075927734px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_19 {
  position: absolute;
  width: 17.991073608398438px;
  height: 2.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_5 {
  position: absolute;
  width: 33.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_5 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_3 {
  position: absolute;
  width: 33.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_3 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_4 {
  position: absolute;
  width: 33.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_4 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_26 {
  position: absolute;
  width: 294.49999999999955px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_27 {
  position: absolute;
  width: 354.0000000000007px;
  min-height: 35.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_27 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 {
  position: absolute;
  width: 984.4375779932507px;
  min-height: 95.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 600;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}