#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 > #backgroundBox {
  background-color: #F6F7F8;
  position: absolute;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 > #alignmentBox {
  position: relative;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 {
  position: absolute;
  width: 1287.0px;
  min-height: 788.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Image_1 {
  position: absolute;
  width: 682.0881746914724px;
  height: 789.8581062927252px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Polygon_1 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_2 {
  position: absolute;
  width: 200.69995117187548px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: right;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_2 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #FF4141;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 {
  position: absolute;
  width: 149.52480175417782px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FF4141;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #FF4141;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #FF4141;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #FF4141;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #FF4141;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 {
  position: absolute;
  width: 273.156336194055px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_10 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_13 {
  position: absolute;
  width: 130.84052772021153px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_3 {
  position: absolute;
  width: 19.700927734375px;
  height: 13.2916259765625px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 {
  position: absolute;
  width: 273.156336194055px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_5 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 {
  position: absolute;
  width: 130.84052772021153px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Path_2 {
  position: absolute;
  width: 19.700927734375px;
  height: 13.2916259765625px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 {
  position: absolute;
  width: 273.156336194055px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_9 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_3 {
  position: absolute;
  width: 130.84052772021153px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 {
  position: absolute;
  width: 273.156336194055px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_7 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_11 {
  position: absolute;
  width: 130.84052772021153px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Category_1 {
  position: absolute;
  width: 239.0000000000001px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 input::-webkit-input-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 input::-moz-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 input:-moz-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 input:-ms-input-placeholder {
  color: #666666;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 {
  position: absolute;
  width: 272.7768954967243px;
  height: 54.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_6 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_10 {
  position: absolute;
  width: 214.0044101176366px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_8 {
  position: absolute;
  width: 171.05138063167107px;
  height: 29.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 9.75pt;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_8 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  min-height: 9.75pt;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_8 .icon {
  top: 6.500000000000057px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 {
  position: absolute;
  width: 273.156336194055px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_4 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 {
  position: absolute;
  width: 107.84052772021155px;
  min-height: 18.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 {
  position: absolute;
  width: 272.7817329299194px;
  height: 54.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_3 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 {
  position: absolute;
  width: 59.74886343663911px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 input::-webkit-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 input::-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 input:-moz-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 input:-ms-input-placeholder {
  color: #999999;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 {
  position: absolute;
  width: 272.7817329299195px;
  height: 54.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_2 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_5 {
  position: absolute;
  width: 73.74886343663937px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Line_1 {
  position: absolute;
  width: 105.5px;
  height: 2.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Line_2 {
  position: absolute;
  width: 104.5px;
  height: 2.0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 {
  position: absolute;
  width: 139.5px;
  min-height: 19.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 {
  position: absolute;
  width: 296.5px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 span {
  color: #31333C;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_7 {
  position: absolute;
  width: 360.85712464001847px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/2b0fe663-1e09-4b92-bb33-2cb299e7265e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/b8e668e0-cd7f-428d-b865-55ff931eb98d.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Input_1 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_1 {
  position: absolute;
  width: 71.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e0ca8585-8466-4ed8-b424-0a73cb2314d5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}