#s-57483f01-aea4-495e-b69e-73bd00aeaa78 > #backgroundBox {
  position: absolute;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 > #alignmentBox {
  position: relative;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 73.65738761775151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F95F6A;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Path_1 {
  position: absolute;
  width: 46.0px;
  height: 46.0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 {
  position: absolute;
  width: 153.0px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Image_1 {
  position: absolute;
  width: 81.07812499999986px;
  height: 54.62105263157883px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 {
  position: absolute;
  width: 79.00000000000045px;
  min-height: 74.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-57483f01-aea4-495e-b69e-73bd00aeaa78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}