#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e > #backgroundBox {
  position: absolute;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e > #alignmentBox {
  position: relative;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 73.65738761775151px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F95F6A;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_1 {
  position: absolute;
  width: 46.0px;
  height: 46.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 {
  position: absolute;
  width: 153.0px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Image_1 {
  position: absolute;
  width: 81.07812499999986px;
  height: 54.62105263157883px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 {
  position: absolute;
  width: 79.00000000000045px;
  min-height: 74.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 {
  position: absolute;
  width: 983.9999999999997px;
  min-height: 194.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_5 {
  position: absolute;
  width: 983.9999999999997px;
  min-height: 194.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 {
  position: absolute;
  width: 983.9999999999997px;
  min-height: 194.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 {
  position: absolute;
  width: 983.9999999999997px;
  min-height: 194.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #CCCCCC);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e #s-Path_2 {
  position: absolute;
  width: 985.078125px;
  height: 2.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ad239ebe-6a40-468c-a3a7-488eb106bd3e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}